@tailwind base;
@tailwind components;
@tailwind utilities;

.settings-save-button-disabled {
  background-color: var(--color-base-50) !important;
  color: var(--color-base-00) !important;
}
.settings-save-button {
  background-color: var(--color-accent-1) !important;
  color: var(--color-base-00) !important;
}

.file-links-helper-parent-file-icon {
    padding: 0 0.5rem;
    color: var(--text-accent);
    cursor: pointer;
    display: inline-block;
}