@tailwind base;
@tailwind components;
@tailwind utilities;

.settings-save-button-disabled {
  background-color: var(--color-base-50) !important;
  color: var(--color-base-00) !important;
}
.settings-save-button {
  background-color: var(--color-accent-1) !important;
  color: var(--color-base-00) !important;
}
